In [2]:
import numpy as np
import pandas as pd

carfax_df = pd.read_csv('final_data.csv')
carfax_df.shape

carfax_df.sample(10)

(26181, 11)

,brand,model,year,price,color,mileage,body_type,damage,owners,usage,service_hist
3579,BMW,5 Series 535i xDrive,2016,34995,Black,34340,Sedan,No Accident or Damage Reported,CARFAX 1-Owner,Personal Use,Service history
9929,Ford,F-150 XL,2017,34999,Silver,17452,Pickup,No Accident or Damage Reported,CARFAX 1-Owner,Personal Use,Service history
15409,Jeep,Grand Cherokee Limited Edition,2017,27495,Black,41955,SUV,No Accident or Damage Reported,CARFAX 1-Owner,Personal Use,Service history
15528,Jeep,Cherokee Limited Edition,2015,15290,Blue,76380,SUV,Accident/Minor Damage,CARFAX 1-Owner,Personal Use,Service history
6348,Chevrolet,Impala LT LT1,2009,6996,Blue,78491,Sedan,No Accident or Damage Reported,CARFAX 1-Owner,Personal Use,Service history
21783,Nissan,Rogue SV,2017,15195,Gray,45924,SUV,No Accident or Damage Reported,CARFAX 1-Owner,Rental Use,Service history
9670,Ford,Fusion SEL,2012,11000,Black,35736,Sedan,Accident Reported,2-Owner,Personal Use,Service history
20077,Mini,Cooper Clubman,2017,16745,Black,43978,Wagon,Damage Reported,2-Owner,Personal Use,Service history
528,Volkswagen,Jetta Sport,2016,14395,Unspecified,31006,Sedan,No Accident or Damage Reported,CARFAX 1-Owner,Personal Use,Service history
25337,Toyota,4Runner SR5,2016,33999,White,42264,SUV,No Accident or Damage Reported,CARFAX 1-Owner,Personal Use,Service history

In [5]:
carfax_df.describe()

               year          price        mileage
count  26181.000000   26181.000000   26181.000000
mean    2014.954242   21461.904778   48134.977885
std        3.274559   12591.327584   38474.942601
min     1992.000000     899.000000    1001.000000
25%     2014.000000   13992.000000   22341.000000
50%     2016.000000   18992.000000   36100.000000
75%     2017.000000   26595.000000   62745.000000
max     2019.000000  249000.000000  387536.000000

In [8]:
carfax_df = carfax_df.astype({'year': 'str'})

In [9]:
carfax_df.describe()

               price        mileage
count   26181.000000   26181.000000
mean    21461.904778   48134.977885
std     12591.327584   38474.942601
min       899.000000    1001.000000
25%     13992.000000   22341.000000
50%     18992.000000   36100.000000
75%     26595.000000   62745.000000
max    249000.000000  387536.000000